<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0707c54c-456b-4011-ad97-3ade7db148c5/resourcegroups/AppServiceSecurity/providers/Microsoft.Web/sites/TestAccurateSecurityClient20230713140439</ResourceId>
    <ResourceGroup>AppServiceSecurity</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testaccuratesecurityclient20230713140439.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>11f3d403-b422-4b40-9808-676df72586ea</ProjectGuid>
    <PublishUrl>https://testaccuratesecurityclient20230713140439.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TestAccurateSecurityClient20230713140439</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>